NEXT_PUBLIC_SUPABASE_URL=https://psxgnenlfpsltvnigrly.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzeGduZW5sZnBzbHR2bmlncmx5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNjYzMzYsImV4cCI6MjA5Mzg0MjMzNn0.Qxo3JimrsZumLvnDnezCRwRi5ogGNPE5Fbn7ooL5sm0


